@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Obvia';
  src: url('/fonts/obvia_medium-webfont.woff2') format('woff2'),
    url('/fonts/obvia_bold-webfont.woff2') format('woff2');
  font-display: swap;
  font-weight: 400 500 700;
}

.masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}

.masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

html {
    cursor: url("https://freight.cargo.site/t/original/i/74afc5586a7184958ce4c806c1ae4616e0e9d29fadadf7f3677c4a66e6b8b878/Untitled_Artwork-62.png"), auto !important;
}
a {
    cursor: url("https://freight.cargo.site/t/original/i/735dccd339dc950589252c5c6740a3ad007a3cc092399c5285fe2d44e8343bf8/Untitled_Artwork-65.png"), auto !important;
}

.content img {
    cursor: url("https://freight.cargo.site/t/original/i/735dccd339dc950589252c5c6740a3ad007a3cc092399c5285fe2d44e8343bf8/Untitled_Artwork-65.png"), auto !important;
}
